body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}
header  div  img {
    width: auto;
    height: 100px;    
}

section {
    padding: 2em 0;
}

section .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1em;
}

#home {
    color: #ff0000;
    text-align: center;
    padding: 5em 0;
}

#home h2 {
    font-size: 3em;
    margin: 0.5em 0;
}

#home p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.button {
    background-color: #e74c3c;
    color: #ffffff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.button1 {
    background-color: #979797;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    padding: 0.1em 0.4em;
    position: relative;
    top: 10px;
}
.button1:hover{
    background-color: #626262;
}

.button:hover {
    background-color: #9e4949;
}

#menu .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu .menu-item {
    background-color: #f4f4f4;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 2em);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#menu .menu-item img{
    display: flex;
    position: relative;
}

#menu .menu-item h3 {
    margin-top: 0;
}

#menu .menu-item span {
    display: block;
    margin-top: 0.5em;
    font-size: 1.2em;
    color: #e74c3c;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label {
    margin: 0.5em 0 0.2em;
}

#contact form input,
#contact form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ed0505;
    border-radius: 5px;
}

#contact form button {
    background-color: #e74c3c;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #c0392b;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
